#a {
  position: absolute;
  width: 182px;
  height: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

#b {
  /* Total supply of Pool Tokens */

  position: absolute;
  width: 227px;
  height: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

#c {
  /* STOCK price */

  position: absolute;
  width: 182px;
  height: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}
